<ion-header>
    <ion-navbar>
        <ion-title>
            List of Polls
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="polls">
        <ion-item *ngFor="let poll of polls">
            {{poll.question}}
            <ion-badge right>{{poll.answers.length}}</ion-badge>
            <ion-list *ngIf="poll.answers">
                <ion-item *ngFor="let answer of poll.answers">
                    {{answer.answer}}

                </ion-item>
            </ion-list>
            <button ion-button (click)="createSurvey(poll)" right>New survey</button>
        </ion-item>
    </ion-list>
    <ion-fab bottom right>
        <button ion-fab (click)="goToPollEditor()">+</button>
    </ion-fab>
</ion-content>
